<div class="container-fluid">
    <app-alert-view [type]="alertType" [message]="alertMessage" />

    <div class="row m-2">
        <h2>Ultimas Noticias</h2>
    </div>

    <div class="row">
        <ngx-table [configuration]="configuration" [data]="data" [columns]="columns" />
        <ng-template #dateColumn let-row let-rowIndex="rowIndex" let-column="column">
            <div>{{newsDateFormatter(row.publishedAt)}}</div>
        </ng-template>
        <ng-template #actionsTpl let-row let-rowIndex="rowIndex" let-column="column">
            <div *ngIf="!row.bookmark"><button class="btn btn-primary" (click)="addBookmark(row.id)">Agregar a
                    favoritos</button></div>
            <div *ngIf="row.bookmark"><button class="btn btn-danger" (click)="removeBookmark(row.id)">Quitar de
                    favoritos</button></div>
        </ng-template>
    </div>


</div>