.app-title {
    background-color: rgb(30, 143, 143);
    color: white;
    word-wrap: break-word;
    cursor: pointer;

}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.97px) {
    .app-title {
        height: 150px;
        font-size: 20px;
    }

    .btn-header {
        font-size: 10px;
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (min-width: 575.98px) {
    .app-title {
        height: 150px;
        font-size: 30px;
    }

    .btn-header {
        font-size: 15px;
    }
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) {
    .app-title {
        height: 150px;
        font-size: 40px;
    }

    .btn-header {
        font-size: 15px;
    }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 991.98px) {
    .app-title {
        height: 150px;
        font-size: 50px;
    }

    .btn-header {
        font-size: 20px;
    }
}

// Large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {
    .app-title {
        height: 150px;
        font-size: 50px;
    }

    .btn-header {
        font-size: 20px;
    }
}

// X-Large devices (large desktops, less than 1400px)
@media (min-width: 1399.98px) {
    .app-title {
        height: 150px;
        font-size: 50px;
    }

    .btn-header {
        font-size: 20px;
    }
}