<div class="container-fluid main-app-header" role="main">
  <div class="row p-5 justify-content-center app-title">
    <div class="col-xs-12 col-md-12 col-lg-6 mb-2" (click)="goToRoute()">Amaris news</div>
    <div class="col-xs-12 col-md-12 col-lg-3 mb-2 btn-header"><button (click)="goToRoute('news')">Ultimas
        Noticias</button></div>
    <div class="col-xs-12 col-md-12 col-lg-3 mb-2 btn-header"><button (click)="goToRoute('news/bookmarks')">Noticias
        favoritas</button></div>
  </div>
  <router-outlet></router-outlet>
</div>